﻿@using Antlr.Runtime.Tree
@model IReadOnlyList<CartItem>

@foreach (var item in Model)
{
    <tr data-meal-id="@item.MealType.Meal.MealID"
        data-meal-name="@item.MealType.Meal.Name"
        data-type="@item.MealType.MealTypeName"
        data-count="@item.Count"
        data-url="@Url.Action("RemoveMeal", "Cart")"
        data-base-price ="@(item.Price)"
        data-change-count-url="@Url.Action("ChangeCartItemSize","Cart")">
        <!--Todo put image of a meal here-->
        <td class="img-col">
            <a href="@Url.Action("Details", "Meals", new { id = item.MealType.MealID })"><img class="food-image img-responsive" style="max-width:128px; max-height:128px;" src="@item.MealType.Meal.ImagePath"></a>
        </td>
        <td class="name-col">
            @item.MealType.Meal.Name
        </td>
        <td class="size-col">
            @item.MealType.MealTypeName
        </td>
        <td class="size-col">
            <select class="1-10">@for (int i = 1; i <= 10; i++)
            {
                if (i == item.Count)
                {
                    <option selected="selected">@i</option>                
                }
                else
                {
                    <option>@i</option>
                }
            }</select>
        </td>
        <td class="addon-col">
            <ul>
                @foreach (var addon in item.AddOns)
                {
                    <li class="addon">@addon.AddOnID</li>
                }
            </ul>
        </td>
        <td class="price-col" align="right">
            <p class="price">@item.Price HRK</p>
        </td>
        <td class="remove-col">
            <button type="button" class="btn btn-danger pull-right removeFromCartBtn">Ukloni</button>
            <label class="pull-right"></label>
        </td>       
    </tr>
}