﻿@model IEnumerable<MealWithPrice>

@foreach (var item in Model)
{
    <tr>
        <!--Todo put image of a meal here-->
        <td class="img-col">
            <a href="@Url.Action("Details", "Meals", new { id = item.Meal.MealID })"><img class="food-image img-responsive" style="max-width:128px; max-height:128px;" src="@item.Meal.ImagePath"></a>
        </td>
        @if (item.IsHot)
        {
            <td class="name-col meal-hot">
                <div class="hot-label"><span class="glyphicon glyphicon-fire"></span> HOT! </div>
                @item.Meal.Name
                <input type="hidden" name="MealID" value=@Html.DisplayFor(model => item.Meal.MealID)>
            </td>
        }
        else
        {
            <td class="name-col">
                @item.Meal.Name
                <input type="hidden" name="MealID" value=@Html.DisplayFor(model => item.Meal.MealID)>
            </td>
        }
                  
        <td class="desc-col">@item.Meal.Description</td>
        <td class="size-col">
            <ul>
            @{  
                for (int i = 0, n = item.Types.Count; i < n; i++)
                {
                    var type = item.Types[i];
                    if (i == 0)
                    {
                        <li>
                            <!--Every radio buttton has to have the same name, all names are defirented with meal id-->
                            <input type="radio" name="@("Type" + item.Meal.MealID)" checked="checked" value="@(type.Price + "#" + type.MealTypeName)"> @type.MealTypeName
                        </li>
                    }
                    else
                    {
                        <li>
                            <input type="radio" name="@("Type" + item.Meal.MealID)" value="@(type.Price + "#" + type.MealTypeName)"> @type.MealTypeName
                        </li>
                    }
                }
            }
            </ul>
            <select id="Count" name="@("quantity" + item.Meal.MealID)" form="AddMealForm" class="1-10">
            @for (int i = 1; i <= 10; i++)
            {
                <option value="@i.ToString()">@i.ToString()</option>
            }
            </select>
        </td>
        <td class="add-col">
            <button type="submit" name="@item.Meal.MealID" data-url="@Url.Action("AddToCart", "Menu")" class="btn btn-warning pull-right addToCartBtn">Dodaj</button>
            <label class="pull-right"></label>
        </td>
        <td class="expand-col">
            <span class="glyphicon glyphicon-chevron-down expand accordion-toggle" data-toggle="collapse" data-target="#@item.Meal.MealID"></span>
        </td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="accordian-body collapse" id="@item.Meal.MealID">
                <table style="border-spacing: 5px;border-collapse: separate;">
                    <tbody>
                        @foreach (var mealAddOn in item.Meal.AddOns)
                        {
                            <!--All addons have the same name, all names are defirented with meal name-->
                            <tr><td><input type="checkbox" name="@("addOn" + item.Meal.MealID)" value="@(mealAddOn.AddOn.Price + "#" + mealAddOn.AddOn.AddOnID)"> @mealAddOn.AddOn.AddOnID</td><td> + @mealAddOn.AddOn.Price HRK</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
}