﻿@model Wild8.StaticInfo.RestaurauntInfo

@using (Html.BeginForm("EditOwnerInfo", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "edit-owner-info-form" }))
{
    <fieldset>

        <div class="form-group">
            <label class="col-md-4 control-label">Ime i prezime</label>
            <div class="col-md-6">
                <input name="OwnerName" type="text" value="@Model.OwnerName" class="form-control input-md">
                <span class="help-block">Ime i prezime</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">
                E-mail addresa
            </label>
            <div class="col-md-6">
                <input name="OwnerEMail" type="email" value="@Model.OwnerEMail" class="form-control input-md">
                <span class="help-block">E-mail</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">
                Info na naslovnoj stranici
            </label>
            <div class="col-md-6">
                <textarea class="form-control" rows="5" name="OwnerHomepageInfo">@Model.OwnerHomepageInfo</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">
                Info na stranici kontakata
            </label>
            <div class="col-md-6">
                <textarea class="form-control" rows="5" name="OwnerContactInfo">@Model.OwnerContactInfo</textarea>
            </div>
        </div>

        <div class="form-gorup col-md-offset-4 col-md-6">
            <button type="submit" id="editOwnerInfoBtn" class="btn btn-success btn-block editOwnerInfoBtn">
                Spremi
            </button>
        </div>

        <div class="modal fade" id="modalInfoView" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modal-header-label"></h4>
                    </div>
                    <div class="modal-body">
                        <h5 id="modal-body-label"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Uredu</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}