﻿@model Wild8.StaticInfo.RestaurauntInfo

<div class="edit-restauraunt-info-form">
    @using (Html.BeginForm("EditRestaurauntInfo", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "edit-restauraunt-info-form" }))
    {
        <div class="form-group">
            <label class="col-md-4 control-label">Adresa</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OwnerAddress, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                <span class="help-block">Ulica i broj</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OwnerCity, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                <span class="help-block">Grad i pošanski broj</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Telefon</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OwnerPhone, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                <span class="help-block">Telefon</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Email adressa</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.RestaurantEmail, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                <span class="help-block">Email restorana</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Minimalni iznos narudžbe</label>
            <div class="col-md-6">
                <input class="form-control" type="number" step="0.01" min="0" value="@Model.MinimalOrderPrice.ToString().Replace(',','.')" name="MinimalOrderPrice" placeholder="Cijena" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Početak rada</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RestStartH, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @required = "required",
                   @type = "number",
                   @min = "0",
                   @max = "23",
                   @step = "1",
                   @pattern = "\\d*"
               }
           })
                <span class="help-block">Sati</span>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RestStartM, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @required = "required",
                   @type = "number",
                   @min = "0",
                   @max = "59",
                   @step = "1",
                   @pattern = "\\d*"
               }
           })
                <span class="help-block">Minute</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Kraj rada</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RestEndH, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @required = "required",
                   @type = "number",
                   @min = "0",
                   @max = "23",
                   @step = "1",
                   @pattern = "\\d*"
               }
           })
                <span class="help-block">Sati</span>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.RestEndM, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @required = "required",
                   @type = "number",
                   @min = "0",
                   @max = "59",
                   @step = "1",
                   @pattern = "\\d*"
               }
           })
                <span class="help-block">Minute</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">
                Info na početnoj stranici
            </label>
            <div class="col-md-6">
                <textarea class="form-control" rows="5" name="RestauranutHomepageInfo">@Model.RestauranutHomepageInfo</textarea>
            </div>
        </div>

        <div class="form-gorup col-md-offset-4 col-md-6">
            <button type="submit" id="editRestaurauntInfo" class="btn btn-success btn-block editRestaurauntInfo">
                Spremi
            </button>
        </div>
    }
    <div class="modal fade" id="modalInfoView" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header-label"></h4>
                </div>
                <div class="modal-body">
                    <h5 id="modal-body-label"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uredu</button>
                </div>
            </div>
        </div>
    </div>
</div>