﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/SharedLayout.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @RenderSection("Scripts", false)
    @RenderSection("Styles", false)
</head>
<body>
    <div id="header-wrap">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wildNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Wild8</a>
                </div>
                <div class="collapse navbar-collapse" id="wildNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Početna</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Menu")"><span class="glyphicon glyphicon-cutlery"></span> Jelovnik</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Comments")"><span class="glyphicon glyphicon-comment"></span> Komentari</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Contacts")"><span class="glyphicon glyphicon-globe"></span> Kontakt</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="cartCount" href="@Url.Action("Index", "Cart")"><span class="glyphicon glyphicon-shopping-cart"></span> @SessionExtension.GetCart(Session).Count()</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.bootstrap-autohidingnavbar.min.js"></script>

    <script>
        $("div.navbar-fixed-top").autoHidingNavbar();
    </script>
    @RenderBody()
    <footer>
        <hr class="featurette-divider">
        <p class="pull-right">
            <a href="#top">Idi na vrh</a>
        </p>
        <p>
            © Wild8 ugostiteljski obrt. · <a href="@Url.Action("Index", "Login")">Prijava osoblja</a>
        </p>
    </footer>
</body>
</html>