﻿@model IEnumerable<AddOn>

@{
    Layout = null;
}
<div class="container-fluid" id="edit-addon-list">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Popis dodataka</h3>
        </div>
        <div class="panel-body">

            <div class="list-group">
                @foreach (var item in Model)
            {
                    <button type="button" class="list-group-item edit-addon-btn" data-url="@Url.Action("EditAddOn", "Admin")" data-addon-id="@item.AddOnID">
                        <span class="glyphicon glyphicon-edit pull-right" style="color:cornflowerblue;font-size:1.2em;"></span>
                        @item.AddOnID
                    </button>
                }
            </div>
        </div>
    </div>
</div>