﻿@model IEnumerable<Category>

@{
    Layout = null;
}
<div class="container-fluid" id="edit-category-list">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Popis kategorija</h3>
        </div>
        <div class="panel-body">

            <div class="list-group">
                @foreach (var item in Model)
            {
                    <button type="button" class="list-group-item edit-category-btn" data-url="@Url.Action("EditCategory", "Admin")" data-category-id="@item.CategoryID">
                        <span class="glyphicon glyphicon-edit pull-right" style="color:cornflowerblue;font-size:1.2em;"></span>
                        @item.Name
                    </button>
                }
            </div>
        </div>
    </div>
</div>