﻿@model AddOn

<div class="container-fluid">
    @using (Html.BeginForm("EditAddOn", "Admin", FormMethod.Post, new { id = "edit-addon-form" }))
    {
        @Html.Hidden("OldName", Model.AddOnID)
        <div class="form-horizontal">

            <div class="form-group">
                @Html.Label("Ime:", new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    <input type="text" id="Name" class="form-control" name="Name" placeholder="Ime" value="@Model.AddOnID" required>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Cijena:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    <input class="form-control" type="number" step="0.01" min="0" max="99" value="@Model.Price.ToString().Replace(',','.')" name="Price" placeholder="Cijena" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="text-center col-sm-10">
                    <button type="submit" name="singlebutton" id="editAddOnBtn" class="btn btn-lg btn-success">Spremi</button>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="modalInfoView" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-header-label"></h4>
                </div>
                <div class="modal-body">
                    <h5 id="modal-body-label"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uredu</button>
                </div>
            </div>
        </div>
    </div>
</div>
