﻿body {
  background: none repeat scroll 0 0 white; 
}

nav.sidebar-menu-collapsed {
  width: 50px;
}

nav.sidebar-menu-expanded {
  width: 106px; 
}

nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #006dcc;
  color: white;
  padding: 20px 10px; 
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

nav.sidebar a#justify-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
}
#meal-menu, #employee-menu, #employee-list, #info-menu{
    padding-left:0;
}
#info-menu{
    margin-left:0;
}

#statistic-export-btn{
    margin-bottom:10px;
}

nav.sidebar a.logout-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

nav.sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 60px; 
}

nav.sidebar ul li {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

a.expandable {
    outline: 0;
    color: white;
    text-decoration: none;
    font-size: 20px; 
}

a.expandable:hover {
    color: #bbbbbb;
}

span.expanded-element {
    margin-left: 2px;
    vertical-align: middle;
    display: none;
    font-size: 11px;
    position: relative;
    bottom: 2px; 
}


nav.sidebar ul li.active {
    background: none repeat scroll 0 0 black;
    border-radius: 4px;
    margin-left: -4px;
    padding: 4px; 
    text-align: left;
}



nav.sidebar ul li.active a.expandable {
    color: white !important; 
}

nav.sidebar ul li.active a.expandable:hover {
    color: white !important; 
}

nav > a, nav > ul > li > a{
    cursor:pointer !important;
}

a:hover{
    text-decoration:none;
}

a > span.glyphicon {
    padding-left: 3px;
}

#main-container{
    margin-left: 40px;
}

#orders-badge{
    position: absolute;
    z-index: 100;
    left: 2px;
    top: 133px;
    background-color: crimson;
    }