/*
   ___   _  __           __ __
  / _ | / |/ /__ _    __/ // /__  ___  ___ ___ ___
 / __ |/    / -_) |/|/ / _  / _ \/ _ \/ -_) -_) -_)
/_/ |_/_/|_/\__/|__,__/_//_/\___/ .__/\__/\__/\__/
                               /_/
*/
/*GLOBAL*/

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    position: relative;
}
/*navbar brand font*/

.navbar-brand {
    color: crimson !important;
    font-weight: bold;
    font-style: italic;
}
/* hiding the dropdown arrow
.nav .dropdown-toggle .caret {
  display:none;
}
 */

 .text-center{
   float:left;
 }

#header-wrap {
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 999;
}
.comment-list .row {
    margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    border-top-right-radius: 0px;
    top: 1px;
}
.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    border-top-left-radius: 0px;
    right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}
.comment-list figcaption {
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */

@media (min-width: 768px) {
    .comment-list .arrow:after,
    .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after,
    .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/

    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/

    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/

    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/

    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}
.featurette-divider {
    margin: 30px 0;
}
.comment-post {
    width: 80%;
}
.container {
    padding-top: 50px; 
}
.commentbox-style {
    padding: 10px;
    background-color: #DCDDDE;
    border: solid;
    border-width: 2px;
    border-color: #A9AAAB;
    border-top: 1px solid #A9AAAB;
}
.form-control {
    resize: none;
}
.thumbnail {
    border-radius: 100%;
    width: 80px;
    max-height: 80px;
    margin-top: 13%;
    min-height: 80px;
    height: 100%;
    background-color: #DCDDDE;
}
.text-center {
    padding-top: 40%;
    font-weight: 700;
}
#accordion {
    position: fixed;
    bottom: 0;
    width: 20%;
    min-width: 13em;
    margin-bottom: 0px;
    border-bottom: 1px solid #A9AAAB;
    margin-left: 2%;
}

#accordion > .panel-default > .panel-heading {
    background: #DCDDDE;
    border: 2px solid #A9AAAB;
    border-bottom: 0px transparent;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#accordion .panel {
    border-radius: 0;
    border: 0px transparent;
}
#accordion > .panel-default > .panel-heading > .panel-title a {
    color: #5a5a5a;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    outline: none;
    font-weight: 700;
}

#accordion > .panel-default > .panel-heading > .panel-title a:hover,
#accordion > .panel-default > .panel-heading > .panel-title a:focus,
#accordion > .panel-default > .panel-heading > .panel-title a:active {
    text-decoration: none;
    outline: none;
}


.lead > p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.stars-container {
    padding-top: 5px;
    padding-left: 20px;
}



#accordion > .panel-default{
    border-radius: 5px;
}