/*
   ___   _  __           __ __
  / _ | / |/ /__ _    __/ // /__  ___  ___ ___ ___
 / __ |/    / -_) |/|/ / _  / _ \/ _ \/ -_) -_) -_)
/_/ |_/_/|_/\__/|__,__/_//_/\___/ .__/\__/\__/\__/
                               /_/
*/
/*GLOBAL*/

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    position: relative;
}
/*navbar brand font*/

.navbar-brand {
    color: crimson !important;
    font-weight: bold;
    font-style: italic;
}
/* hiding the dropdown arrow
.nav .dropdown-toggle .caret {
  display:none;
}
 */
h4{
  font-weight:700;
}

 .TimeDiv {
   display: none;
   color:green;
   font-weight: 700;
  }
 #not_working{
   color:red;
   font-weight: 700;
 }

.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}
.header {
    background-color: #F5F5F5;
    color: crimson;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}
.container {
    padding-top: 70px;
}
#header-wrap {
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 999;
}
footer {
    margin-left: 50px;
    padding-left: 40px;
    margin-right: 50px;
    padding-right: 40px;
}

.lead{
  font-style: italic;
}

#owner-picture{
  float: left;
  margin: 0px 20px 0px 0px;
}

#owner-signature{
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    margin-top: -62px;
}
