/*
   ___   _  __           __ __
  / _ | / |/ /__ _    __/ // /__  ___  ___ ___ ___
 / __ |/    / -_) |/|/ / _  / _ \/ _ \/ -_) -_) -_)
/_/ |_/_/|_/\__/|__,__/_//_/\___/ .__/\__/\__/\__/
                               /_/
*/
/*GLOBAL*/

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    /*
  background-color:
  background-image:
	background: linear-gradient(maroon, #b30000);
  */
}
/*navbar brand font*/

.navbar-brand {
    color: crimson !important;
    font-weight: bold;
    font-style: italic;
}
/* hiding the dropdown arrow
.nav .dropdown-toggle .caret {
  display:none;
}
 */

.container {
    margin-top: 100px;
    max-width: 380px;
}
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
    /* RESPONSIVE CSS
-------------------------------------------------- */

    @media (min-width: 768px) {
        /* Remve the edge padding needed for mobile */

        .marketing {
            padding-left: 0;
            padding-right: 0;
        }
        /* Remove rounded corners */

        .navbar-wrapper .navbar {
            border-radius: 0px;
        }
        /*LOGIN FORM*/

        .wrapper {
            margin-top: 80px;
            margin-bottom: 80px;
        }
        .form-signin {
            max-width: 380px;
            padding: 15px 35px 45px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            .form-signin-heading, .checkbox {
                margin-bottom: 30px;
            }
            .checkbox {
                font-weight: normal;
            }
            .form-control {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                @include box-sizing(border-box);
                &:focus {
                    z-index: 2;
                }
            }
            input[type="text"] {
                margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            input[type="password"] {
                margin-bottom: 20px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        /*LOGIN FORM END*/
