/*
   ___   _  __           __ __
  / _ | / |/ /__ _    __/ // /__  ___  ___ ___ ___
 / __ |/    / -_) |/|/ / _  / _ \/ _ \/ -_) -_) -_)
/_/ |_/_/|_/\__/|__,__/_//_/\___/ .__/\__/\__/\__/
                               /_/
*/
/*GLOBAL*/

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    position: relative;
}
/*navbar brand font*/

.navbar-brand {
    color: crimson !important;
    font-weight: bold;
    font-style: italic;
}

.container{
  padding-top:100px;
}

#header-wrap {
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 999;
}

.meal-image{
  padding-top: 30px;
  max-width: 500px;
}


.panel-title{
    font-weight: 600;
    color: #5a5a5a;
}

#addon-panel{
    margin-top: -5px;
}



ul{
    padding-left: 0px;
    list-style-type: none;
}
.btn-warning{
  margin-left: 10px;
}

.portfolio-item {
    margin-bottom: 25px;
}
.col-md-6 > .panel-default{
    margin-top: 5px;
}

.count{
    margin-top: 15px;
    margin-left: 5px;
}